*{
	margin: 0px;
	padding: 0px;
}
.content1{
    height: 100vh;
    width: 1024px;
    background-color: rgb(25,35,20);
    margin:0px auto;
    position: relative;
}
.photo-right{
	width: 650px;
	height: 500px;
    margin-top: 0px;
    background-image: url("https://www.bang-olufsen.com/~/mediaV3/home/frontpage/slider/beosound-shape/green-beosound-shape-desktop.jpg");
    background-size: 650px 500px;
    float: right;
}
.text-box{
    top: 200px; 
    left: 100px;
    float: left;
    position: absolute;

}
.text1-left{
	font-family: "Gotham SSm A","Gotham SSm B";
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #fff;
    

}
.text2-left{
    font-size: 1.8em;
    line-height: 1.3125em;
    letter-spacing: .125em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    margin: .5em 0 .8em;
   
    color: #fff;

}
.text3-left{
    font-size: 13px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 0;
    font-family: "Gotham SSm A","Gotham SSm B";
    color: #fff;
}

.button1{
    font-family: "Gotham SSm A","Gotham SSm B";
    font-size: 11px;
    letter-spacing: 0.5px;
    color: #fff;
    background-color: #30392b;
    border: 0px;
    height: 35px;
    width: 250px;
    margin-top: 25px; 
    float: left;

}
.content2{
    background-image: url("https://www.bang-olufsen.com/~/mediaV3/home/frontpage/slider/harmonies/1350/img-bg-1350.jpg"); 
    margin:0px auto;
    width: 1024px;
    height: 393px;
    background-size: 1024px 393px;

}
.photo-box{
    height: 330px;
    width: 700px;
    margin: -50px auto;
   
    z-index: 2;
    position: relative;
}
.img1{
    background: url("https://www.bang-olufsen.com/~/mediaV3/home/frontpage/slider/beovision-eclipse/beovision-eclipse-frontpage-brass-smoked-oak-2.jpg");
    background-size: 233.3px 330px;
    float: left;
    height: 330px;
    width: 233.3px;
}
.img2{
    background: url("https://www.bang-olufsen.com/~/mediaV3/home/frontpage/slider/beoplay-p6/beoplay-p6-8.jpg");
    background-size: 233.3px 330px;
    float: left;
    height: 330px;
    width: 233.3px;
}
.img3{
    background: url("https://www.bang-olufsen.com/~/mediaV3/home/frontpage/slider/earset/earset-subtile1.jpg");
    background-size: 233.3px 330px;
    float: left;
    height: 330px;
    width: 233.3px;
}

.text4-onphoto{
    font-size: 1em;
    line-height: 1.3125em;
    letter-spacing: normal;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    margin: 0 0 1em;
    float: left;
    position: relative;
    z-index: 6;
    color: #fff;
    margin: 15px 0px 0px 20px;
}